<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white dark:bg-gray-dark shadow overflow-hidden sm:rounded-lg dark:text-gray-light w-full">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-dark dark:text-gray-light"><%= submitted_at %></h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-dark"><%= offer_state %></p>
  </div>
  <div class="border-t border-gray-light">
    <dl>
      <div class="bg-white dark:bg-gray-dark px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-dark dark:text-white">Offered By</dt>
        <dd class="mt-1 text-sm text-black dark:text-gray-light sm:mt-0 sm:col-span-2"><%= offered_by %></dd>
      </div>
      <div class="bg-white dark:bg-gray-dark px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-dark dark:text-white">Description</dt>
        <dd class="mt-1 text-sm dark:text-gray-light text-black sm:mt-0 sm:col-span-2"><%= description %></dd>
      </div>
      <% if actions_enabled && can_update_offer? %>
        <div class="bg-gray-50 dark:bg-slate-800 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-dark dark:text-white">Actions</dt>
          <dd class="mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
            <% if loading %>
              <%= loading_line %>
            <% end %>
            <% if !loading %>
              <div class='flex gap-4'>
                <%= form_with(model: auction_offer, class: 'flex gap-4') do |form| %>
                  <%= form.label :state_event, class: 'hidden' %>
                  <%= form.select :state_event, auction_offer.available_transition_events, {}, class: "" %>
                  <%= form.submit class: "rounded-lg py-3 px-5 bg-accent-primary text-white inline-block font-medium cursor-pointer" %>
                <% end %>
              </div>
            <% end %>
            <% if can_destroy_offer? %>
              <%= button_to 'Revoke Offer', auction_offer_path(auction_offer), method: :delete, class: "rounded-lg py-3 px-5 bg-gray-light inline-block font-medium", data: { turbo_frame: :auction_offers } %>
            <% end %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>

