<%= form_with(builder: AppFormBuilder, model: @model, url: auction_items_path, method: :get) do |form| %>
  <div class='flex gap-4'>
    <%= form.text_field :query, placeholder: "Search Query", class: 'w-full' %>
    <%= form.submit :Search, class: 'bg-transparent border-accent-dark border-solid border-2 text-accent-dark dark:text-gray-light' %>
  </div>
  <div class='flex gap-8 mt-5'>
    <div class='flex gap-2 items-center'>
      <%= form.check_box :has_no_offers %>
      <%= form.label :has_no_offers %>
    </div>
    <div class='flex gap-2 items-center'>
      <%= form.check_box :my_listings %>
      <%= form.label :my_listings %>
    </div>
    <div class='flex gap-2 items-center'>
      <%= form.check_box :include_expired %>
      <%= form.label :include_expired  %>
    </div>
    <div class='flex gap-2 items-center'>
      <%= form.check_box :is_ladder %>
      <%= form.label :is_ladder  %>
    </div>

    <div class='flex gap-2 items-center'>
      <%= form.check_box :is_hardcore %>
      <%= form.label :is_hardcore %>
    </div>
  </div>
<% end %>
