<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-light dark:text-gray-light">
    <thead class="text-xs text-gray-dark uppercase bg-gray-50 dark:bg-gray-dark dark:text-gray-light">
      <tr>
        <% @headers.each do |header| %>
          <th scope="col" class="py-3 px-6">
            <%= header %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |item| %>
        <tr class="decoration-2 bg-white border-b dark:bg-gray-dark dark:border-gray-dark <%= item[:options][:disabled] ? 'line-through' :'' %>">
          <% item[:elements].each_with_index do |attr, index| %>
            <% if index == 0 %>
              <th scope="row" class="<%= y_padding_class %> px-6 font-medium text-black whitespace-nowrap dark:text-white">
                <%= attr %>
              </th>
            <% else %>
              <td class="<%= y_padding_class %> px-6 text-gray-dark ">
                <%= attr %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
