<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-16 bg-gray-50 overflow-hidden lg:py-24">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
    <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
      <defs>
        <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-light" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
    </svg>

    <div class="relative">
      <h2 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-dark sm:text-4xl">A better way to trade your game items</h2>
      <p class="mt-4 max-w-3xl mx-auto text-center text-xl text-gray-dark">
        We make it easy and simple to get your trades done at your convieneve.
      </p>
    </div>

    <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
      <div class="relative">
        <h3 class="text-2xl font-extrabold text-gray-dark tracking-tight sm:text-3xl">How it works</h3>
        <p class="mt-3 text-lg text-gray-dark">
        </p>

        <dl class="mt-10 space-y-10">
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-brand-primary text-white">
                <!-- Heroicon name: outline/globe-alt -->
                <%= heroicon('clipboard-list', variant: :outline, options: { class: 'h-6 w-6' }) %>
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-dark">Provide just a few details</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-dark">
              Provide a simple title for your auction, an image of the item, a short description of what you ideally want, and tag your post with the specifics of your item.
            </dd>
          </div>

          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-brand-primary text-white">
                <!-- Heroicon name: outline/scale -->
                <%= heroicon('clock', variant: :outline, options: { class: 'h-6 w-6' }) %>
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-dark">Wait for offers</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-dark">
              Auctions are quick and only run for 30 minutes. Upon posting, your item will be searchable by others. Once you receive an offer, you can accept, acknowledge, or reject the bid. 
            </dd>
          </div>

          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-brand-primary text-white">
                <%= heroicon('document-duplicate', variant: :outline, options: { class: 'h-6 w-6' }) %>
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-dark">Multiple Offers</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-dark">
              The only offers viewable by ANYONE are the currently accepted offer and the first received request waiting for acceptance or rejection. If a better proposal is provided, take the better deal. Users can submit multiple bids.
            </dd>
          </div>

          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-brand-primary text-white">
                <!-- Heroicon name: outline/lightning-bolt -->
                <%= heroicon('lightning-bolt', variant: :outline, options: { class: 'h-6 w-6' }) %>
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-dark">Close the deal</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-dark">
              Only after the 30 minutes have expired, the last accepted offer is the winner. Both buyer and seller receive a message in their inbox with pre-generated game information to join and complete the trade.
            </dd>
          </div>
        </dl>
      </div>

      <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
        <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
          <defs>
            <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-light" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
        </svg>
        <img class="relative mx-auto" width="590" src="<%= image_path('new_auction_screen.png') %>" alt="">
      </div>
    </div>

    <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
      <defs>
        <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-light" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
    </svg>

    <div class="relative mt-12 sm:mt-16 lg:mt-24">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="lg:col-start-2">
          <h3 class="text-2xl font-extrabold text-gray-dark tracking-tight sm:text-3xl">Always in the loop</h3>
          <p class="mt-3 text-lg text-gray-dark">Our short auction times allow auction participants to get notified quickly and react how they see fit. We'll let you know what&apos;s going on every step of the way.</p>

          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-brand-primary text-white">
                  <!-- Heroicon name: outline/annotation -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-dark">Email Notifications</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-dark">
                Prefer email so you can step away from your computer? We got you. We'll email you as much or as little as you want.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-brand-primary text-white">
                  <!-- Heroicon name: outline/mail -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-dark">Browser notifications</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-dark">Enable browser notifications to receive native browser notifications for updates about your auctions.</dd>
            </div>
          </dl>
        </div>

        <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
          <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
            <defs>
              <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-light" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
          </svg>
          <img class="relative mx-auto" width="490" src="<%= image_path('marketing-notification-features.svg') %>"  alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'get_notified' %>