<div class='mx-auto bg-white py-8 px-10 rounded-xl'>
  <div class='mb-8'>
    <div class="pb-5 border-b border-gray-light">
      <h3 class="text-2xl leading-6 font-bold text-gray-dark">Welcome back</h3>
    </div>
  </div>

  <div class='flex gap-[200px]'>
    <div class='w-full md:w-1/3'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
        <div class="field w-full">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field w-full">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="relative flex items-start gap-4 items-center">
            <div class="flex items-center">
              <%= f.check_box :remember_me, class: "focus:ring-indigo-500 h-4 w-4 text-accent-primary border-gray-light rounded" %>
            </div>
            <div class="">
              <%= f.label :remember_me, class: "font-medium text-gray-dark" %>
            </div>
          </div>
        <% end %>

        <div class="actions mt-4">
          <%= f.submit "Log in", class: 'w-full' %>
        </div>
      <% end %>
      <div class='mt-8'>
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class='flex-grow flex justify-center items-center'>
      <%= image_tag('login-yellow.svg') %>
    </div>
  </div>
</div>