<%= form_with(model: auction_item, class: "contents") do |form| %>
  <% if auction_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-light px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(auction_item.errors.count, "error") %> prohibited this auction_item from being saved:</h2>

      <ul>
        <% auction_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4 %>
  </div>

  <%= form.form_field do %>
    <%= form.label :auction_image %>
    <%= form.file_field :auction_image %>
  <% end %>

  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
