  <% if auction_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-light px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(auction_item.errors.count, "error") %> prohibited this auction_item from being saved:</h2>

      <ul>
        <% auction_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if auction_item.game_item.nil? %>
  <%= form_with(model: auction_item, method: :get, url: new_auction_item_path, class: "contents") do |form| %>
    <input name='step' type='hidden' value='2' />
    <div class="field" data-controller='search-select'>
      <%= form.label :game_item_name %>
      <%= form.text_field :game_item_name, name: nil , data: { 'search-select-target': 'input' }, placeholder: 'e.g Magefist' %>
      <%= turbo_frame_tag 'game_items', data: { 'search-select-target': 'dataListFrame' } do %>
      <% end %>
    </div>
    <div class="inline">
      <%= form.submit 'Next' %>
    </div>
  <% end %>
<% else %>
  <% if @current_step == 2 %>
    <%= form_with(model: auction_item, method: :get, url: new_auction_item_path, class: "contents") do |form| %>
      <input name='step' type='hidden' value='3' />
      <%= form.form_field do %>
        <%= form.hidden_field :game_item_id %>
        <%= form.label :game_item_name%>
        <%= form.text_field :game_item_name, name: nil, disabled: true, value: auction_item.game_item.name %>
        <%= link_to new_auction_item_path do %>
          <small>clear</small>
        <% end %>
      <% end %>

      <%= form.form_field do %>
        <%= form.label :title %>
        <%= form.text_field :title %>
      <% end %>

      <%= form.form_field do %>
        <div class='flex gap-2 items-center'>
          <%= form.check_box :is_ladder %>
          <%= form.label :is_ladder, class: '!mb-0'  %>
        </div>
      <% end %>

      <%= form.form_field do %>
        <div class='flex gap-2 items-center'>
          <%= form.check_box :is_hardcore %>
          <%= form.label :is_hardcore, class: '!mb-0'  %>
        </div>
      <% end %>

      <%= form.form_field do %>
        <%= form.label :description %>
        <%= form.text_area :description, rows: 4 %>
      <% end %>

      <% form.form_field do %>
        <% form.label :auction_image %>
        <% form.file_field :auction_image %>
      <% end %>

      <div class="inline">
        <%= form.submit "Next" %>
      </div>
    <% end %>
  <% elsif @current_step == 3 %>
    <%= form_with(model: auction_item, method: :get, url: new_auction_item_path, class: "contents") do |form| %>
      <input name='step' type='hidden' value='4' />
      <%= form.hidden_field :game_item_id %>
      <%= form.hidden_field :title %>
      <%= form.hidden_field :description %>
      <%= form.hidden_field :is_hardcore %>
      <%= form.hidden_field :is_ladder %>
      <%= form.form_field do %>
        <%= form.label :auction_image %>
        <%= form.file_field :auction_image %>
      <% end %>
      <div class="inline">
        <%= form.submit "Next" %>
      </div>
    <% end %>
  <% elsif @current_step == 4 %>
    <%= form_with(model: auction_item, class: "contents") do |form| %>
      <input name='step' type='hidden' value='4' />
      <%= form.hidden_field :game_item_id %>
      <%= form.hidden_field :title %>
      <%= form.hidden_field :description %>
      <%= form.hidden_field :is_hardcore %>
      <%= form.hidden_field :is_ladder %>
      <div class='hidden'>
        <%= form.file_field :auction_image %>
      </div>
      <div class='grid grid-col-1 gap-4'>
        <div class='text-xl font-bold'>
          Confirm your auction details
        </div>
        <div>
          <span class='font-semibold'>Title:</span> <%= auction_item.title %>
        </div>
        <div>
          <div class='font-semibold'>Description:</div>
          <%= auction_item.description %>
        </div>
        <div>
          <span class='font-semibold'>Ladder: </span> <%= auction_item.is_ladder %>
        </div>
        <div>
          <span class='font-semibold'>Hardcore: </span> <%= auction_item.is_hardcore%>
        </div>
      </div>
      <hr class='my-4'/>
      <div class="inline">
        <%= form.submit "Next" %>
      </div>
    <% end %>
  <% end %>
<% end %>
