<div class='w-full bg-white rounded-xl dark:bg-slate-700 p-8'>
  <div class="w-full">
    <div class='flex gap-8'>
      <div class='h-[300px] w-[300px] bg-green-500 aspect-square'>
        <img class='h-full w-auto' src='https://media.karousell.com/media/photos/products/2021/11/4/diablo_2_item_1635995357_d73ccb9a_progressive.jpg' />
      </div>
      <div class='flex flex-col'>
        <h1 class='text-4xl font-bold'><%= @auction_item.title %></h1>
        <span class='block text-2xl'><%= time_ago_in_words(@auction_item.created_at) %></span>
        <p class='my-4 prose'><%= @auction_item.description %></p>
        <div class='flex flex-grow items-end gap-2'>
          <% if AuctionItemPolicy.new(current_user, @auction_item).destroy? %>
            <%= button_to 'Remove Auction', auction_item_path(@auction_item), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium bg-red-400" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='my-4 text-xl font-medium'>
    Quick Info
  </div>
  <div class='flex w-full rounded-xl shadow-lg my-4 dark:bg-slate-800 bg-gray-50 divide-x'>
    <div class='flex-grow p-4 max-w-[33%]'>
      <div class='text-gray-500 mb-2'>
        Total Offers
      </div>
      <div class='text-lg font-medium dark:text-gray-400'>
        <%= @auction_item.offer_count %>
      </div>
    </div>
    <div class='flex-grow p-4 max-w-[33%]'>
      <div class='text-gray-500 mb-2'>
        Time Remaining
      </div>
      <div class='text-lg font-medium dark:text-gray-400'>
        <span data-controller='countdown' data-expires-on='<%= @auction_item.expires_on.to_i %>'>
          <%= render(LoadingLineComponent.new) %>
        </span>
      </div>
    </div>
    <div class='flex-grow p-4 max-w-[33%]'>
      <div class='text-gray-500 mb-2'>
        Seller Rating
      </div>
      <div class='text-lg font-medium dark:text-gray-400'>
        N/A
      </div>
    </div>
  </div>
</div>

<hr class='my-6' />

<% if AuctionOfferPolicy.new(current_user, AuctionOffer.new(auction_item: @auction_item)).new? %> 
  <div>
    <div class='text-xl font-medium dark:text-gray-400 mb-4'>Your Offer</div>
    <%= turbo_frame_tag 'new_offer', src: new_auction_item_auction_offer_path(@auction_item, format: :html) %>
  </div>
  <hr class='my-6' />
<% elsif @current_user_offer.present? %>
  <div>
    <div class='text-xl font-medium dark:text-gray-400 mb-4'>Your Offer</div>
    <%= render(AuctionOfferComponent.new(auction_offer: @current_user_offer, current_user: current_user)) %>
  </div>
  <hr class='my-6' />
<% end %>

<div class="w-full">
  <%= turbo_frame_tag :auction_offers, src: auction_item_auction_offers_path(@auction_item) do %>
    <div id="auction_offers" class="grid grid-cols-2 gap-8">
      <div class='grid grid-col'>
        <div class='dark:text-gray-400  text-xl font-medium mb-4'>Top offer</div>
        <%= render AuctionOfferComponent.new(auction_offer: nil, loading: true, current_user: current_user) %>
      </div>
      <div class='grid grid-col'>
        <div class='dark:text-gray-400  text-xl font-medium mb-4'>Offer in consideration</div>
        <%= render AuctionOfferComponent.new(auction_offer: nil, loading: true, current_user: current_user) %>
      </div>
    </div>
  <% end %>
</div>
