<div id="<%= dom_id auction_offer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Auction item:</strong>
    <%= auction_offer.auction_item_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= auction_offer.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this auction offer", auction_offer, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this auction offer', edit_auction_offer_path(auction_offer), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
