<div id="<%= dom_id auction_offer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= auction_offer.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Offered By:</strong>
    <%= auction_offer.user.email %>
  </p>

  <% if action_name != "show" %>
    <% if AuctionOfferPolicy.new(current_user, auction_offer).edit? %>
      <%= link_to 'Edit this auction offer', edit_auction_offer_path(auction_offer), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <% if AuctionOfferPolicy.new(current_user, auction_offer).destroy? %>
      <%= button_to 'Revoke Offer', auction_offer_path(auction_offer), method: :delete, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", data: { turbo_frame: :auction_offers } %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
