<%= form_with(model: [@auction_item, auction_offer], class: "contents", data: { turbo_frame: :auction_offers }) do |form| %>
  <% if auction_offer.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(auction_offer.errors.count, "error") %> prohibited this auction_offer from being saved:</h2>

      <ul>
        <% auction_offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline flex gap-2">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <%= link_to 'Cancel', new_auction_item_auction_offer_path(@auction_item), class: "rounded-lg py-3 px-5 bg-gray-100 text-black inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
