<!DOCTYPE html>
<html class='<%= request.cookies['darkMode'] %>'>
  <head>
    <title>InstaAuction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name='application:current_user_id' content='<%= current_user&.id %>'>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">
    <link rel="manifest" href="/2site.webmanifest">

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-236271074-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-236271074-1');
      </script>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <%= javascript_importmap_tags %>
  </head>
  <body class='bg-gray-light dark:bg-black'>
    <div class='container mx-auto'>
    <nav class="">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
        <a href="<%= root_path %>" class="flex items-center">
          <span class='dark:hidden'>
            <%= image_tag('brand-black.png', class: 'h-6 md:h-9 lg:h-12') %> 
          </span>
          <span class='hidden dark:inline'>
            <%= image_tag('brand-yellow.png', class: 'h-6 md:h-9 lg:h-12') %> 
          </span>
        </a>
        <div class="flex gap-3 items-center">
          <button data-controller='dark-mode' data-action='click->dark-mode#toggle' class='p-1 border-2 border-solid rounded border-gray-dark hover:bg-gray-dark hover:text-white'>
            <%= heroicon 'moon', options: { class: 'h-4 w-4 dark:text-white'  } %>
          </button>
          <% if !current_user.present? %>
            <a href="/users/sign_in" class="text-sm font-medium text-accent-primary dark:text-accent-primary hover:underline">Login</a>
          <% end %>
          <% if current_user.present? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "text-sm font-medium text-accent-primary dark:text-accent-primary hover:underline", data: { turbo: false } %>
          <% end %>
        </div>
      </div>
    </nav>
    <nav class="bg-white dark:bg-gray-dark">
      <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
        <div class="flex items-center">
          <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
            <li>
              <a href="<%= root_path %>" class="text-gray-dark dark:text-white hover:underline" aria-current="page">Home</a>
            </li>
            <li>
              <a href="/inbox" class="text-gray-dark dark:text-white hover:underline">Inbox</a>
            </li>
            <li>
              <a href="<%= new_support_ticket_path %>" class="text-gray-dark dark:text-white hover:underline">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
    <main class="container mx-auto mt-8 px-5">
      <% if notice.present? %>
        <%= turbo_frame_tag 'notice' do %>
          <div class='grid grid-col w-full'>
            <div class="w-full py-2 px-3 bg-green-50 mb-5 text-green-light font-medium rounded-lg" id="notice">
              <div class='flex gap-4 items-center'>
                <div><%= heroicon 'check', options: { class: 'h-4 w-4'} %></div>
                <div><%= notice %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if alert.present? %>
        <div>
          <p class="w-full py-2 px-3 bg-red-50 mb-5 text-red-light font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
        </div>
      <% end %>
      <% if current_user %>
        <nav class="mb-4 flex" aria-label="Breadcrumb">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <% breadcrumbs.items.each do |breadcrumb| %>
              <li class="inline-flex items-center">
                <a href="/" class="inline-flex items-center text-sm font-medium text-gray-dark hover:text-gray-dark dark:text-gray-light dark:hover:text-white">
                  <% if breadcrumb[1] == "/" %>
                    <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                  <% else %>
                    <svg class="w-6 h-6 text-gray-light" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <% end %>
                  <%= breadcrumb[0] %>
                </a>
              </li>
            <% end %>
          </ol>
        </nav>
      <% end %>
      <%= yield %>
    </main>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="hidden relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <!--
        Background backdrop, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-gray-light bg-opacity-75 transition-opacity"></div>

      <div class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
          <!--
            Modal panel, show/hide based on modal state.

            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div class="relative bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 max-w-sm md:max-w-[50%] w-full sm:p-6">
            <%= turbo_frame_tag 'modal_content' do %>
              <div>
                <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full text-accent-primary">
                  <!-- Heroicon name: outline/check -->
                  <%= heroicon 'information-circle' %>
                </div>
                <div class="mt-3 text-center sm:mt-5">
                  <h3 class="font-semibold mt-4 text-lg leading-6 font-medium text-gray-dark" id="modal-title">
                    <div class='w-3/4 mx-auto'>
                      <%= render LoadingLineComponent.new %>
                    </div>
                  </h3>
                  <div class="mt-2">
                    <p class="text-sm text-gray-light">
                      <%= render LoadingLineComponent.new %>
                      <%= render LoadingLineComponent.new %>
                      <%= render LoadingLineComponent.new %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="mt-5 sm:mt-6">
                <button data-controller='modal' data-action='modal#close' type="button" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                  Close
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
