<!DOCTYPE html>
<html class='<%= request.cookies['darkMode'] %>'>
  <head>
    <title>InstaAuction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-236271074-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-236271074-1');
      </script>

      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2963460008157948"
     crossorigin="anonymous"></script>
    <% end %>

    <%= javascript_importmap_tags %>
  </head>
  <body class=''>
  <div class='text-center'>
    <% if notice.present? %>
      <div>
        <p class="w-full py-2 px-3 bg-green-50 mb-5 text-green-light font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div>
        <p class="w-full py-2 px-3 bg-red-50 mb-5 text-red-light font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
      </div>
    <% end %>
    </div>
    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
      <div class='max-w-[300px] mt-8'>
        <a href='<%= root_path %>'>
          <%= image_tag('brand-black.png', class: 'w-full h-auto') %>
        </a>
      </div>
    </div>
    <%= yield %>

  <!-- Footer section -->
  <footer class="mt-24 bg-black sm:mt-12">
    <div class="mx-auto max-w-md py-12 px-4 overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
      <p class="mt-8 text-center text-base text-gray-dark">&copy; <%= Time.now.year %> Red Rooster Development, LLC.</p>
    </div>
  </footer>
  </body>
</html>
